body {
  background-color: white;
  margin: 0;
  padding: 0;
}
/*@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}*/
#maincontent {
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

#video-navigation {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

#printed-frames {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#video {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/* Video navigation */
.navigation-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}


.navigation-frame-canvas:hover {
  /*transform: scale(2,2) translate(25%, 25%);*/
  z-index: 10;
  cursor: pointer;
}

/* Play/Pause button */
.button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent #ffffff;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 37px 0 37px 60px;
}

button.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}

button:hover {
  border-color: transparent transparent transparent #afafaf;
}

/* printed frames */
.printed-frame {
  width: 50px;
  height: 50px;
  animation: 0.5s printedFrameEnter 1 linear; 
}

.printed-frame:hover {
  transform: scale(4,4);
  box-shadow: 10px 10px 91px 0px #222222;
  cursor:pointer;
}

/* Blinking cursor */
#cursor {
  background-color: black;
  animation: blinking 0.9s infinite;;
}

/* Animations */
@keyframes printedFrameEnter{
  0%{
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
}

@keyframes blinking{
  0%{
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}