body {
  background-color: white;
  margin: 0;
  padding: 0;
}
/*@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}*/
#maincontent {
  width: 100%;
}

#video-navigation {
  width: 1610px;
  padding: 5px;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

#video-navigation div {
  width: 200px;
  height: 200px;
  margin: 0px;
}

#thumbnails {
  width: 1610px;
  padding: 5px;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

#video {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/* Video navigation */
.navigation-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-frame-canvas {
  cursor: pointer;
  width: 200px;
  height: 200px;
}

.navigation-frame-canvas:hover {
  transform: scale(1.5,1.5) translate(16.66%, 16.66%);
  z-index: 10;
}

/* Play/Pause button */
.button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent #ffffff;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 37px 0 37px 60px;
}

button.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}

button:hover {
  border-color: transparent transparent transparent #afafaf;
}

/* Thumbnails */
.thumbnail {
  width: 50px;
  height: 50px;
  animation: 0.8s thumbnailEnter 1 linear; 
}

.thumbnail:hover {
  transform: scale(4,4);
  box-shadow: 10px 10px 91px 0px #222222;
  cursor:pointer;
}

/* Animations */
@keyframes thumbnailEnter{
  0%{
    top: 15px;
    left: 25px;
    position: relative;
    transform: rotateY(-180deg);
    opacity: 0;
  }
  99% {
    top: 0px;
    left: 0px;
    position: relative;
    transform: rotateY(0deg);
    opacity: 1;
  }
}